*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body
{
	background-color: #A22208;/*#c50e0efc*/;
	font-family: calibri;
}
.main
{
	margin:0px 150px 0px 150px ;
	/*background-color: blue;*/
	border:1px solid white;
	border-radius: 5px;
}
.banner
{
	height:300px;
	width:100%;
}
img
{
	height:100%;
	width:100%;
}
.navbar
{
	text-align: center;
}
.navbar ul
{
	text-decoration: none;
	list-style-type: none;
	display: table-row-group;
	
}
.navbar ul li
{
	padding:20px 50px;
	/*margin:0px 10px 0px 10px;*/
	border:1px solid #fff;
	float:left;
}
.navbar a
{
	text-decoration: none;
	list-style-type: none;
	color:white;

}
.center
{
	background-color: #fff;
	width:100%;
	height:560px;
}
.register
{
	float:left;
	width:70%;
	height:auto;
	padding:0px 25px;
	margin:3% 0px;
}
.register h1
{
	
	margin-bottom:5px;
}
label
{
	font-weight:bold;
}
input
{
	margin-top:5px;
	padding:5px;
	display: block;
}
input:focus
{
	border:3px solid red;
}
.btn
{
	background-color: #A22208;
	width:150px;
	border-radius: 3px;
	color:white;
	
	
}
.news
{
	float:right;
	width:25%;
	height: auto;
	background-color:#dfdfdf;
	padding:15px;
}
.news h3
{
	padding:5px 10px ;
}
.news ul
{
	padding:15px ;
}
.news ul li
{
	color:green;

}
.news p
{
	padding:7px 0px ;
}
hr
{
	clear:both;
	width:70%;
	margin-left:30px;
}
.footer
{
	clear:both;
	height:50px;
	background-color: #2B2D2B;
	border: 2px solid #2B2D2B;
	border-radius: 4px;
	margin:15px 50px;
}
.footer ul
{
	text-decoration: none;
	list-style-type: none;
	display: inline-flex;
	
	float: right;
}
.footer ul li
{
	padding:10px 10px;
	/*border-right:1px solid #fff;*/
}
.footer a
{
	text-decoration: none;
	color:white;
	padding-right:15px;
	border-right:1px solid #fff;
}

.footer li:nth-child(6) a
{
	border-right: none;
}
